@font-face {
    font-family: Raleway;
    src: url('/Portfolio/Fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('/Portfolio/Fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Gentium-Basic;
    src: url('/Portfolio/Fonts/GentiumBasic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Gentium-Basic;
    src: url('/Portfolio/Fonts/GentiumBasic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    margin: 0;
    height:100%;
    overflow: hidden;
    background-color: #7E8C75;
}

h1{
    position: absolute;
    width: 325px;
    height: 140.5px;
    left: 59.5px;
    top: 417.5px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 149.168px;
    line-height: 175px;
    
    color: #FFFFFF;
}

h2{
    position: absolute;
    width: 320px;
    height: 59.12px;
    margin-left: 59.5px;
    margin-top: 563.88px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 52.8157px;
    line-height: 62px;

    color: #FFFFFF;
}

p{
    position: absolute;
    width: 488.5px;
    height: 394.5px;
    margin-left: 48px;
    margin-top: 663.5px;

    font-family: Gentium-Basic;
    font-style: normal;
    font-weight: normal;
    font-size: 21.4763px;
    line-height: 25px;

    color: #CAE4E0;
}

b{
    font-family: Gentium-Basic;
    font-style: normal;
    font-weight: bold;
    font-size: 21.4763px;
    line-height: 25px;

    color: #FFFFFF;
}

img[src="/Portfolio/Yara_01.png"]{
    position: absolute;
    width: 488.25px;
    height: 576.25px;
    margin-left: 48px;
    margin-top: 52.5px;
    z-index: 1;
    
}

#upperGradient{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 42.31%;
    z-index: -1;

    background: linear-gradient(180deg, #133727 0%, rgba(60, 115, 91, 0) 100%);
}

#lowerGradient{
    position: absolute;
    left: 31.67%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: -1;
    
    background: linear-gradient(0.02deg, rgba(26, 99, 77, 0.72) 0.01%, rgba(198, 255, 164, 0.31) 33.34%, rgba(126, 140, 117, 0) 65.62%);
}